burnbox.page {
	encode zstd gzip

	log {
		output discard
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		Content-Security-Policy "default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self' data:; connect-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none'"
		-Server
	}

	reverse_proxy app:8080 {
		header_up X-Forwarded-For {remote_host}
	}

}
